PCAPNG specification document formatting question, maybe some issues found

Is the current [document](https://github.com/IETF-OPSAWG-WG/draft-ietf-opsawg-pcap/blob/master/draft-ietf-opsawg-pcapng.md) using special markdown formatting like some kind of extensions to markdown, or is it other formatting to be applied when rendered  into other document formats (e.g. HTML)?

Asking because I notice what I view in github here for that document, or downloading and viewing with a markdown viewer like Marko for macOS, not all the formatting seems to be applied, when compared to an older draft copy like this one: https://www.ietf.org/staging/draft-tuexen-opsawg-pcapng-02.html. Particularly section headings and like the tables for the options for each block type.

Or did the document formatting get malformed/corrupted since the older draft was revised?

> Is the current [document](https://github.com/IETF-OPSAWG-WG/draft-ietf-opsawg-pcap/blob/master/draft-ietf-opsawg-pcapng.md) using special markdown formatting like some kind of extensions to markdown,

To quote [the README.md file in this repository](https://github.com/IETF-OPSAWG-WG/draft-ietf-opsawg-pcap/blob/master/README.md):

> The pcap and pcapng specifications are written using the [kramdown](https://kramdown.gettalong.org) superset of [Markdown](https://daringfireball.net/projects/markdown/syntax) and the [kramdown-rfc2629](https://github.com/cabo/kramdown-rfc2629) extensions to kramdown.  This allows [xml2rfc](https://xml2rfc.tools.ietf.org)-format RFCs and I-Ds to be written in extended Markdown and converted to xml2rfc.  Xml2rfc was originally defined in [RFC 2629](https://tools.ietf.org/html/rfc2629); version 2 is documented in [RFC 7749](https://tools.ietf.org/html/rfc7749), and version 3 is documented in [RFC 7991](https://tools.ietf.org/html/rfc7991).

So it's not pure Markdown, nor is it likely ever to be pure Markdown.